<template>
	<main class="site-main">
		<div class="container">
			<h1>Products</h1>
			<Modal />
			<table class="table--light-gray">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Image</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(product, index) in products" :key="product.id">
						<td>{{ ++index }}</td>
						<td>
							<input
								v-model="product.attributes.name"
								class="form-input"
								type="text"
								name="name"
								:readonly="!(update && index === indexSelected)"
							/>
						</td>
						<td>
							<input
								v-model="product.attributes.qty"
								class="form-input"
								type="number"
								name="qty"
								:readonly="!(update && index === indexSelected)"
							/>
						</td>
						<td>
							<input
								v-model="product.attributes.price"
								class="form-input"
								type="number"
								name="price"
								:readonly="!(update && index === indexSelected)"
							/>
						</td>
						<td>
							<img
								v-if="
									product.attributes.thumbnail.data &&
									!(update && index === indexSelected)
								"
								:src="
									'http://localhost:1337' +
									product.attributes.thumbnail.data.attributes.url
								"
								alt=""
								srcset=""
								style="width: 50px"
							/>
							<p
								v-else-if="
									!product.attributes.thumbnail.data &&
									update &&
									index === indexSelected
								"
							>
								Gambar Tidak Tersedia
							</p>
							<input
								v-else
								type="file"
								class="form-input"
								name="files"
								@change="updateImage"
							/>
						</td>
						<td>
							<button class="btn--ghost-primary btn--small">DETAILS</button>
							<button
								v-if="update === true && index === indexSelected"
								class="btn--ghost-yellow btn--small"
								@click="updateData(product)"
							>
								Save
							</button>
							<button
								v-else
								class="btn--ghost-yellow btn--small"
								@click="changeState(index)"
							>
								UPDATE
							</button>
							<button
								class="btn--ghost-red btn--small"
								@click="deleteData(product.id)"
							>
								DELETE
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <nuxt-link to="/products/detail-products">Detail Products</nuxt-link> -->
		</div>
	</main>
</template>
<script>
import axios from 'axios'
export default {
	data() {
		return {
			products: [],
			update: false,
			indexSelected: 0,
			newImage: null
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Products'
			})
		}
	},
	mounted() {
		axios
			.get('http://localhost:1337/api/products?populate=*')
			.then(response => {
				this.products = response.data.data
			})
	},
	methods: {
		deleteData(id) {
			axios.delete('http://localhost:1337/api/products/' + id).then(() => {
				alert('Data Berhasil dihapus')
			})
		},
		changeState(index) {
			this.indexSelected = index
			this.update = true
		},
		updateData(data) {
			if (this.newImage) {
				const formData = new FormData()
				formData.append('files', this.newImage)
				axios
					.post('http://localhost:1337/api/upload', formData)
					.then(response => {
						axios.put('http://localhost:1337/api/products/' + data.id, {
							data: {
								name: data.attributes.name,
								qty: data.attributes.qty,
								price: data.attributes.price,
								thumbnail: response.data[0].id
							}
						})
						alert('Update Berhasil')
					})
			} else {
				axios
					.put('http://localhost:1337/api/products/' + data.id, {
						data: {
							name: data.attributes.name,
							qty: data.attributes.qty,
							price: data.attributes.price
						}
					})
					.then(() => {
						alert('Update Berhasil')
					})
			}
		},
		updateImage(e) {
			this.newImage = e.target.files[0]
		}
	}
}
</script>

<style lang="scss" scoped></style>
