<template>
	<div>
		<button
			v-if="isFormVisible === false"
			class="btn--small btn--ghost-primary"
			@click.prevent="show"
		>
			Add
		</button>
		<button v-else class="btn--small btn--ghost-primary" @click.prevent="close">
			Close
		</button>
		<div :class="{ hidden: !isFormVisible }">
			<form @submit="submit">
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Name</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							v-model="data.name"
							class="form-input"
							type="text"
							name="name"
							placeholder="Text"
							required
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">Price</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							v-model="data.price"
							class="form-input"
							type="text"
							name="price"
							placeholder="Text"
							required
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">QTY</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							v-model="data.qty"
							class="form-input"
							type="text"
							name="qty"
							placeholder="Text"
							required
						/>
					</div>
				</div>
				<div class="bzg mb-12">
					<div class="bzg_c form-label" data-col="s12,m4,l4">thumbnail</div>
					<div class="bzg_c" data-col="s12,m8,l8">
						<input
							id="singleFile"
							ref="uploadimage"
							class="form-input js-file-input"
							type="file"
							name="files"
							required
							@change="onFileChange"
						/>
						<label class="flex form-file-label" for="singleFile">
							<div class="js-file-name form-file-input form-input--block"></div>
						</label>
					</div>
				</div>
				<button type="submit" class="btn--ghost-primary">Submit</button>
			</form>
		</div>
	</div>
</template>
<script>
import axios from 'axios'

export default {
	name: 'Modal',
	data() {
		return {
			isFormVisible: false,
			data: {
				name: '',
				qty: '',
				price: '',
				thumbnail: ''
			}
		}
	},
	methods: {
		show() {
			this.isFormVisible = true
		},
		close() {
			this.isFormVisible = false
		},
		onFileChange(e) {
			this.data.thumbnail = e.target.files[0]
		},
		submit(e) {
			e.preventDefault()

			const formData = new FormData()

			formData.append('files', this.data.thumbnail)
			axios
				.post('http://localhost:1337/api/upload', formData)
				.then(response => {
					axios.post('http://localhost:1337/api/products', {
						data: {
							name: this.data.name,
							qty: this.data.qty,
							price: this.data.price,
							thumbnail: response.data[0].id
						}
					})
					alert('Post Berhasil')
				})
		}
	}
}
</script>

<style lang="scss" scoped></style>
