<template>
	<main class="site-main">
		<div class="container">
			<h1>Contact Us</h1>
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Contact Us'
			})
		}
	}
}
</script>

<style lang="scss" scoped></style>
